@font-face {
    font-family: 'Digital7';
    src: url('./fonts/digital-7.ttf') format('truetype');
  }

body {
    background-color: rgb(10, 10, 10);
}

.clock {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.time {
    color: whitesmoke;
    display: relative;
    font-family: 'Digital7';
    font-size: 30vh;
    padding: auto;
    margin-bottom: auto;
    background-color: aqua;
    color: rgb(10, 10, 10);
    box-shadow: 0 0 5px aqua,
                0 0 25px aqua,
                0 0 50px aqua;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.date-stamp {
        color: whitesmoke;
        display: relative;
        font-family: 'Trebuchet MS', sans-serif;
        font-weight: 750;
        font-size: 10vh;
        padding: auto;
        margin-top: auto;
        text-align: left;
        background-color: aqua;
    color: rgb(10, 10, 10);
    box-shadow: 0 0 5px aqua,
                0 0 25px aqua,
                0 0 50px aqua;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);   
}

.color-picker {
    border: 1px solid black;
    border-radius: 10%;
    background-color: rgb(141, 140, 138);
}
